@import '../../styles/vars.scss';

.propertyList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  justify-items: center;
}

.propertyListMinified {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 25px;
  justify-content: center;
}
