@import "../../styles/vars.scss";

.propertyList {
  display: grid;
  gap: 25px;
  justify-items: center;
}

.propertyListStandart {
  grid-template-columns: repeat(4, 1fr);
}

.propertyListMinified {
  grid-template-columns: repeat(2, 1fr);
}
