@import '../../styles/vars.scss';

.searchResultsHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 21px;

  &TextBig {
    font-size: 24px;
    line-height: 28px;
  }

  .cardSizeToggler {
    position: absolute;
    right: 0px;

    button {
      fill: white;

      &:hover {
        fill: $zircon;
      }

      &.btnLeft {
        margin-right: -2px;
      }

      &.btnSelected {
        fill: $zircon;
      }
    }
  }
}
