.searchPage {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: center;
  padding: 0px 100px 90px 100px;

  .form {
    display: flex;
    flex: 0 1;
    height: 56px;
    margin: 30px 0px;
  }
}

.locationInput {
  position: relative;
  display: flex;
  align-items: center;
  width: 410px;
  padding: 0px 20px;
  border: 1px solid #dbdfe1;
  border-radius: 3px 0px 0px 3px;
  box-shadow: 0px 4px 34px rgba(9, 44, 76, 0.16);

  .locationBtn {
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      path {
        fill: #23335d;
      }
    }

    path {
      fill: #dbdfe1;
    }
  }

  input {
    z-index: 2;
    width: 100%;
    height: 100%;
  }
}

.submitBtn {
  width: 120px;
  border-radius: 0px 3px 3px 0px;
  background: #e6605b;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: darken(#e6605b, 10%);
  }
}

.placeholder {
  position: absolute;
  z-index: 1;
  margin-left: 22px;
  color: rgba(56, 64, 71, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  &OnTop {
    top: 2px;
    color: rgba(74, 80, 99, 0.7);
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }
}

.suggestions {
  position: absolute;
  top: 56px;
  left: 0px;
  width: 410px;
  background: #fff;

  .suggestion {
    padding: 10px 20px;
    color: #384047;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;

    &:hover {
      color: #000;
      font-weight: bold;
      text-decoration: underline;
    }

    .toHightlight {
      color: red;
    }
  }
}

.error {
  padding: 28px;
  color: #E6605B;
  font-size: 14px;
  line-height: 19px;
}

.background {
  flex: 1 1;
  padding: 100px;
  border-radius: 30px;
  background: url('../../assets/background.jpg') center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;

  h1 {
    margin-bottom: 17px;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
  }

  span {
    display: block;
    max-width: 50%;
    font-size: 18px;
    line-height: 27px;
  }
}