@import '../../styles/vars.scss';

.header {
  display: flex;
  flex: 0 0 95px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  color: #fff;
  box-shadow: 0px 4px 10px rgba(black, 0.15);
}

.logo {
  color: $flamingo;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 28px;

  .logoIcon {
    margin-right: 10px;

    path {
      fill: $flamingo;
    }
  }
}

.favesBtn {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid $lightgrey;
  border-radius: 3px;
  color: $shuttleGrey;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  transition: background 0.2s;

  .starIcon {
    margin-right: 4px;
  }
}
